.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .sidebar-content h5 {
    margin-bottom: 20px; 
    text-align: center; 
  }

  /* Dasboard.css */
.nav-link.text-light {
    font-size: 16pt;
    margin-left: 15%;
    display: flex;
    margin: 20px;
  }

  .nav-link.text-light {
    font-size: 16pt;
    margin-left: 15%;
    margin-right: 20px; 
  }
  
  .nav-link.text-light img {
    margin-right: 20px; 
  }

 
.nav-link.text-light:hover {
    padding: 5px;
    background-color: #06ACC1; 
    
  }
  

.nav-link.text-light:hover img { 
    padding: 5px;
    width: 14%;
  }
  